@page "/thingmodel"
@using Microsoft.Extensions.Localization
@using global::ttshang.thingmodel.Localization
@inject IStringLocalizer<thingmodelResource> L
@{
}
<h1>thingmodel</h1>
<p>@L["SamplePageMessage"]</p>